<table>
  <tr>
    <td>
      <h1>Order Placed</h1>
      <p>Dear <%= @order.user.name %>,</p>

      <p>We have received your order (reference: <%= @order.id %>) and it is now being processed.</p>
      <p>You will receive an email with the tracking information as soon as the package is shipped.</p>

      <p>Thank you for choosing our store!</p>

      <p>Best regards,</p>
      <p>The Ecommerce App Team</p>
    </td>
  </tr>
</table>

